



<div class="container">
    <div class="card card-body col-md-3 mt-10">
       
       <form action="" method="POST" role="form">
       
           <div class="form-group">
               <label for="">Add Your Task</label>
               <input type="text" class="form-control" id="name" placeholder="Input field" required
               
               [(ngModel)]="model.name" name="name" 
                            #name="ngModel" >
           </div>
           
       
           <button type="submit" class="btn btn-primary">Submit</button>
       </form>
       
    </div>

</div>











    