<div class="container">
        <!-- <div class="card card-body col-md-3 mt-6 offset-float"> -->
                <h1 style="color: rgba(255, 17, 0, 0.87)" ><b> Abute Admin </b></h1>
            <div class="form-group">
            <h2>CEO</h2>
            <!-- image path -->
            <img src="https://cdn.pixabay.com/photo/2018/03/31/21/18/african-american-3279360__340.jpg" alt="">  
            <h3 style="color: red">Gamini Althow</h3>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, 
                inventore natus sint mollitia quos ratione deserunt maxime quisquam assumenda sit alias ex
            </p>
            <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, inventore natus sint mollitia quos ratione deserunt
                     maxime quisquam assumenda sit alias ex
                </p>
    
        </div>
    
        <div class="form-group">
                <h2>Co-Founder</h2>
                <!-- image path -->
                <img src="https://cdn.pixabay.com/photo/2017/06/01/00/44/smiling-2362136__340.jpg" alt="">  
                <h3 style="color: red">Anita Gorge</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, 
                    inventore natus sint mollitia quos ratione deserunt maxime quisquam assumenda sit alias ex
                </p>
                <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, inventore natus sint mollitia quos ratione deserunt
                         maxime quisquam assumenda sit alias ex
                    </p><br>
        
            </div>
            <div class="form-group">
                    <h2>Manager</h2>
                    <!-- image path -->
                    <img src="https://cdn.pixabay.com/photo/2018/04/21/10/44/people-3338167__340.jpg" alt="">  
                    <h3 style="color: red">Pitter Gona</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, 
                        inventore natus sint mollitia quos ratione deserunt maxime quisquam assumenda sit alias ex
                    </p>
                    <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor quo atque quis impedit aliquam accusamus odit, provident, inventore natus sint mollitia quos ratione deserunt
                             maxime quisquam assumenda sit alias ex
                        </p>
            
                </div>
    <!-- </div> -->
    
    </div>
    
